{% extends "base.html" %}
	    {% block content %}


			<div class="middle-container">
                <!--
				<div class="left-sidebar">
					<h2 class="heading">Tanks</h2>
					<ul class="left-navigation">
                    <li><br></li>
                        {% for tank in list_of_tanks %}
						<li {% if forloop.counter0 == tank_to_focus_on%}class="active"{% endif %}
                            {% if forloop.counter0 != tank_to_focus_on%}class="active"{% endif %}
                                style="background: green;">
                            <a href="?tank_to_focus_on={{ forloop.counter0 }}">{{ tank.name }}</a>
                        </li>
                        {% endfor %}
						</ul>
				</div>
				-->
				<div class="content">
					<div class="table-data-container">
						<table width="100%" border="1" cellspacing="0" cellpadding="0" class="table-data" id="gridLevelTankLevel">
							<th class="heading" width="20%" style="background: #000000;">Name</th>

                            <th class="heading" width="5%" style="background: #000000;">Low Level</th>
							<th class="heading" width="40%" style="background: #000000;">Present Water Level</th>
							<th class="heading" width="5%" style="background: #000000;">Full Level</th>
                        	<th class="heading" width="4%" style="font-size: 10px;background: #000000;">Over Flow&nbsp;&nbsp;</th>
							<!-- <th class="heading" width="4%" style="font-size: 10px;background: #000000;">&nbsp;Sump Low&nbsp;</th> -->
                            <th class="heading" width="4%" style="font-size: 10px;background: #000000;">No Signal</th>
							<!--<th class="heading" width="4%" style="font-size: 10px;background: #000000;">Low Level&nbsp;</th> -->


                        {% for data in list_of_tanks %}
                            <tr>
                                <td style="background: green; color: #ffffff;">{{ data.name }}</td>
								<td class="first"><span class="grid-tank-level">&nbsp;</span>{{ data.low_water_level }}%</td>
								<td class="second"><span class="gradient grid-tank-level" fillgridto="{{ data.water_level }}%">&nbsp;</span>{{ data.water_level }}%</td>
								<td class="third"><span class="grid-tank-level" fillgridto="{{ data.full_water_level }}">&nbsp;</span>{{ data.full_water_level }}%</td>
                                <td {% if data.current_overflow_status == 1%}class="active blink" style="background: orange;"{% endif %}></td>
                                <!-- <td {% if data.no_signal_alarm_sump == 1%}class="active blink" style="background: orange;"{% endif %}></td> -->
                                <td {% if data.no_signal_alarm == 1%}class="active blink" style="background: orange;"{% endif %}></td>
                                <!-- <td {% if data.low_level_alarm == 1%}class="active blink" style="background: orange;"{% endif %}></td> -->

                        	</tr>
                        {% endfor %}
						</table>
					</div>
					<div class="status-block" style="font-size: 20px;">
						Motor Status

                            {% if controller.onoff == 1%}
                            <form method="get" action="submit" style="display: inline-block;">
                                <input type="hidden" name="id" value="13">
                                <input type="hidden" name="onoff" value="0">
                                <input type="submit" value="ON" style="background: red; color: #ffffff; width: 4em; height: 4em;">

                            </form>
                            <form method="get" action="submit" style="display: inline-block; float: right; margin-right: 5px;">
                             <input type="hidden" name="id" value="106">
                             <input type="submit" value="RESET MACHINE" style="background: red; color: #ffffff;  width: 10em; height: 4em;" onclick="return confirm('Are you sure you want to reset the machine?\n(warning: please click cancel if you are not sure.)');">

                            </form>
                                <br>
						        <span>
							Motor has been on for: <span style="color: red;">1 Hours
							&nbsp;
							35 Min</span>

						</span>
                            {% endif %}
                            {% if controller.onoff == 0%}
                            <form method="get" action="submit" style="display: inline-block;">
                                <input type="hidden" name="id" value="13">
                                <input type="hidden" name="onoff" value="1">
                                <input type="submit" value="OFF" style="background: green; color: #ffffff;  width: 4em; height: 4em;">

                            </form>
                             <form method="get" action="submit" style="display: inline-block; float: right; margin-right: 5px;">
                             <input type="hidden" name="id" value="106">
                             <input type="submit" value="RESET MACHINE" style="background: red; color: #ffffff;  width: 10em; height: 4em;" onclick="return confirm('Are you sure you want to reset the machine?\n(warning: please click cancel if you are not sure.)');">

                            </form>
                                <br>
						    <span>
							Motor has been off for: <span style="color: red;">2 Hours
							&nbsp;
							21 Min</span>
                                </span>
                            {% endif %}


					</div>
				</div>
				<div class="right-sidebar" style="border: none;">
					<h2 class="heading" style="width: 200%; border: none; background: #000000; height: 62px; color: #ffffff;">Controller Alarms and Information</h2>
					<ul class="right-navigation">
                    <li>
                    <table width="200%" border="1" style="font-size:10px; height: 338px; background: #CCCCCC">
                        <tr>
                            <td {% if controller.high_voltage_alarm == 1%}class="active blink"{% endif %}>High Volt</td>
                            <td>VOLTAGE X: {{ controller.voltage }}V</td>
                        </tr>
                        <tr>
                            <td {% if controller.low_voltage_alarm == 1%}class="active blink"{% endif %}>Low Volt</td>
                            <td>VOLTAGE Y: {{ controller.voltage_y }}V</td>
                        </tr>
                        <tr>
                            <td {% if controller.timeout_alarm == 1%}class="active blink"{% endif %}>Timeout</td>
                            <td>VOLTAGE Z: {{ controller.voltage_z }}V</td>
                        </tr>
                    <tr>
                            <td {% if controller.comm_error_alarm == 1%}class="active blink"{% endif %}>Comm Error</td>
                            <td>CURRENT: {{ controller.current }}A</td>
                        </tr>
                    <tr>
                            <td {% if controller.flow_error_alarm == 1%}class="active blink"{% endif %}>FLow Error</td>
                            <td>POWER FACTOR {{ controller.power_factor }}</td>
                        </tr>

                    </table>
                    </li>
                    </ul>
                <div style="margin-top:10px; width: 200px; font-size: 20px; color: #000000;">LAST UPDATE DATE: {{ controller.last_update }}</div>

				</div>
				<div class="clear"></div>
			</div>

		</div>
        {% endblock %}

