{% extends "base.html" %}
{% block content %}
    {% load staticfiles%}
    {% load machine_extras %}
	<body>
		<div class="container">

			<div class="middle-container">
				<div class="left-sidebar">
					<h2 class="heading">Tanks</h2>
					<ul class="left-navigation">
						{% for tank in list_of_tanks %}
						<li {% if forloop.counter0 == tank_to_focus_on%}class="active blink"{% endif %}
                            {% if forloop.counter0 != tank_to_focus_on%}class="active"{% endif %}>
                            <a href="?tank_to_focus_on={{ forloop.counter0 }}">{{ tank.name }}</a>
                        </li>
                        {% endfor %}
					</ul>
				</div>
				<div class="content" style="width: 696px;">
					<div class="table-data-container">
						<div class="tanker">
							<div class="blank-tanker">
								<span class="tank-left-measure">
									<img src="{% static "css/tank-left-measure.png" %}" height="200" />
								</span>
								<span class="current-water-level">
									<img src="{% static "css/current-water-level.png" %}" />
								</span>
								<span class="water-blower">
									<img src="{% static "css/water-blower.png" %}" />
								</span>
								<ul class="water-level-incrementer">
									<li {% if data.water_level >= 100 %}style="background: blue;"{% endif %}><span>O F</span></li>
									<li {% if data.water_level >= 100 %}style="background: blue;"{% endif %}><span>100</span></li>
									<li {% if data.water_level >= 90 %}style="background: blue;"{% endif %}><span>90</span></li>
									<li {% if data.water_level >= 80 %}style="background: blue;"{% endif %}><span>80</span></li>
									<li {% if data.water_level >= 70 %}style="background: blue;"{% endif %}><span>70</span></li>
									<li {% if data.water_level >= 60 %}style="background: blue;"{% endif %} ><span>60</span></li>
									<li {% if data.water_level >= 50 %}style="background: blue;"{% endif %}><span>50</span></li>
									<li {% if data.water_level >= 40 %}style="background: blue;"{% endif %}><span>40</span></li>
									<li {% if data.water_level >= 30 %}style="background: blue;"{% endif %}><span>30</span></li>
									<li {% if data.water_level >= 20 %}style="background: blue;"{% endif %}><span>20</span></li>
									<li {% if data.water_level >= 10 %}style="background: blue;"{% endif %}><span>10</span></li>
									<li {% if data.water_level >= 0 %}style="background: blue;"{% endif %}><span>00</span></li>
								</ul>
								<div class="full-tank-block" style="top: {{ data.full_water_level|add_special:"70" }}px;">
									<span class="strip">&nbsp;</span>
									<span class="text button on">Full</span>
								</div>
								<div class="low-tank-block" style="top: {{ data.low_water_level|subtract:"200" }}px;">
									<span class="strip">&nbsp;</span>
									<span class="text button off">Low</span>
								</div>
							</div>
						</div>
					</div>
					<div class="status-block" style="font-size: 20px;">
						Motor Status

                            {% if controller.onoff == 1%}
                            <form method="get" action="submit" style="display: inline-block;">
                                <input type="hidden" name="id" value="13">
                                <input type="hidden" name="onoff" value="0">
                                <input type="submit" value="ON" style="background: red; color: #ffffff; width: 4em; height: 4em;">

                            </form>
                            <form method="get" action="submit" style="display: inline-block; float: right; margin-right: 5px;">
                             <input type="hidden" name="id" value="106">
                             <input type="submit" value="RESET MACHINE" style="background: red; color: #ffffff;  width: 10em; height: 4em;" onclick="return confirm('Are you sure you want to reset the machine?\n(warning: please click cancel if you are not sure.)');">

                            </form>
                                <br>
						        <span>
							Motor has been on for: <span style="color: red;">1 Hours
							&nbsp;
							35 Min</span>

						</span>
                            {% endif %}
                            {% if controller.onoff == 0%}
                            <form method="get" action="submit" style="display: inline-block;">
                                <input type="hidden" name="id" value="13">
                                <input type="hidden" name="onoff" value="1">
                                <input type="submit" value="OFF" style="background: green; color: #ffffff;  width: 4em; height: 4em;">

                            </form>
                             <form method="get" action="submit" style="display: inline-block; float: right; margin-right: 5px;">
                             <input type="hidden" name="id" value="106">
                             <input type="submit" value="RESET MACHINE" style="background: red; color: #ffffff;  width: 10em; height: 4em;" onclick="return confirm('Are you sure you want to reset the machine?\n(warning: please click cancel if you are not sure.)');">

                            </form>
                             </form>
                                <br>
						    <span>
							Motor has been off for: <span style="color: red;">2 Hours
							&nbsp;
							21 Min</span>
                                </span>
                            {% endif %}


					</div>
                </div>
				<div class="right-sidebar" style="border: none;">
					<h2 class="heading" style="width: 200%; border: none; background: #000000; height: 62px; color: #ffffff;">Controller Alarms and Information</h2>
					<ul class="right-navigation">
                    <li>
                    <table width="200%" border="1" style="font-size:10px; height: 358px; background: #CCCCCC">
                        <tr>
                            <td {% if controller.high_voltage_alarm == 1%}class="active blink"{% endif %}>High Volt</td>
                            <td>VOLTAGE X: {{ controller.voltage }}V</td>
                        </tr>
                        <tr>
                            <td {% if controller.low_voltage_alarm == 1%}class="active blink"{% endif %}>Low Volt</td>
                            <td>VOLTAGE Y: {{ controller.voltage_y }}V</td>
                        </tr>
                        <tr>
                            <td {% if controller.timeout_alarm == 1%}class="active blink"{% endif %}>Timeout</td>
                            <td>VOLTAGE Z: {{ controller.voltage_z }}V</td>
                        </tr>
                    <tr>
                            <td {% if controller.comm_error_alarm == 1%}class="active blink"{% endif %}>Comm Error</td>
                            <td>CURRENT: {{ controller.current }}A</td>
                        </tr>
                    <tr>
                            <td {% if controller.flow_error_alarm == 1%}class="active blink"{% endif %}>FLow Error</td>
                            <td>POWER FACTOR {{ controller.power_factor }}</td>
                        </tr>

                    </table>
                    </li>
                    </ul>
                <div style="margin-top:10px; width: 200px; font-size: 20px; color: #000000;">LAST UPDATE DATE: {{ controller.last_update }}</div>

				</div>
				<div class="clear"></div>
			</div>

			</div>
{% endblock %}