{% extends "base.html" %}
{% block content %}
<body>
		<div class="container">

			<div class="middle-container no-right">
				<div class="left-sidebar" style="display: inline-block; width: auto;">
					<h2 class="heading">Tanks</h2>
					<ul class="left-navigation" style="font-size: 10px;">
                        {% for tank in list_of_tanks %}
						<li class="active"><a href="">{{ tank.name }}</a></li>
                        {% endfor %}
					</ul>
				</div>
				<div class="content" style="width: 875px;">
					<div class="table-data-container">
						<table width="100%" cellspacing="0" cellpadding="0" class="table-data tank-setting" style="font-size: 10px;">
							<th class="heading">Type</th>
							<th class="heading">Full Level (%)</th>
                            <th class="heading">&nbsp;</th>
							<th class="heading">Low Level (%)</th>
                        <th class="heading">&nbsp;</th>
							<th class="heading" width="20%">Alarm <br/> 
								<span class="alarm-low alarm">Low</span>
								<span class="alarm-full alarm">Full</span>
								<span class="alarm-oflow alarm">O.Flow</span>
							</th>
							<th class="heading">Display</th>
							<th class="heading">Trigger Motor</th>
                            <th class="heading"></th>
                            <th class="heading">name change</th>
                        {% for data in list_of_tanks %}
							<tr>
                                <td style="font-size: 10px;">Dest. Tank (sid {{ data.sub_ID }})</td>
								<form method="get" action="submit">
                                    <input type="hidden" name="id" value="5">
                                    <input type="hidden" name="water_type" value="1">
                                    <input type="hidden" name="sub_id" value="{{ data.sub_ID }}">

                                <td><input type="number" name="water" value="{{ data.full_water_level }}" size="2" min="51" max="100" style="width: 50px;" /></td>
								<td><input type="submit" value="submit"></td>
                                </form>
                                <form method="get" action="submit">
                                    <input type="hidden" name="id" value="5">
                                    <input type="hidden" name="water_type" value="0">
                                    <input type="hidden" name="sub_id" value="{{ data.sub_ID }}">
                                <td><input type="number" name="water" value="{{ data.low_water_level }}" size="2" min="5" max="50" style="width: 50px;"/></td>
                                <td><input type="submit" value="submit"></td>
                                </form>

                                <form method="get" action="submit">
                                    <input type="hidden" name="id" value="3">
                                    <input type="hidden" name="sub_id" value="{{ data.sub_ID }}">
                                <td>
									<span class="alarm-low alarm">


								    <input type="checkbox" name="lla" value="1" class="check-alarm-low checkbox" {% if data.low_level_alarm == 1%}checked{% endif %} />
                                    </span>
									<span class="alarm-full alarm">
										<input type="checkbox" name="fla" value="1" class="check-alarm-full checkbox" {% if data.full_level_alarm == 1%}checked{% endif %} />
									</span>
									<span class="alarm-oflow alarm">
										<input type="checkbox" name="ofa" value="1" class="check-alarm-oflow checkbox" {% if data.overflow_alarm == 1%}checked{% endif %}/>
									</span>
								</td>
								<td>
									<input type="checkbox" class="checkbox" name="dsp" value="1" {% if data.display == 1%}checked{% endif %}/>
								</td>
								<td>
									<input type="checkbox" class="checkbox" name="mt" value="1" {% if data.motor_trigger == 1%}checked{% endif %}/>
								</td>
                                <td>
                                    <input type="submit" value="submit" />
                                </td>
                              </form>
                            <form method="get" action="submit">
                                <input type="hidden" name="id" value="105">
                                <input type="hidden" name="sub_id" value="{{ data.sub_ID }}">

                                <td>
                                    <input type="text" class="text-box" name="new_name" value="{{ data.name }}" style="width: 40px;" maxlength="12" required/>
                                </td>
                                <td>
                                    <input type="submit" value="submit" />
                                </td>
                            </form>
							</tr>
                        {% endfor %}

						</table>
					</div>

				</div>
				<div class="clear"></div>
			</div>

		</div>
		{% endblock %}